@charset "UTF-8";

/*---------- 文字 ---------- */
body {
  font-family: 'M PLUS 1p', 'Montserrat', sans-serif;
}

h1 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 5.5vw;
  text-align: center;
  font-weight: 800;
  color: #000000;
}

h2 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 5.5vw;
  text-align: center;
  font-weight: 800;
  color: #ffffff;
}

h3 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 1.5vw;
  text-align: center;
  font-weight: 800;
  color: #ffffff;
}

h4 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 1.7vw;
  text-align: center;
  font-weight: 800;
  color: #ffffff;
}

h5 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 1.2vw;
  text-align: right;
  font-weight: 800;
  color: #ffffff;
}

a {
  margin: 0 0 0 0;
  position: relative;
  font-size: 1.7vw;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

txt1 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 2vw;
  font-weight: 500;
  color: #000000;
}

txt2 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 2vw;
  font-weight: 500;
  color: #ffffff;
}

txt3 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 3vw;
  font-weight: 800;
  color: #000000;
}

txt4 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 2.5vw;
  font-weight: 800;
  color: #cc0000;
}

txt5 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 2vw;
  font-weight: 800;
  color: #cc0000;
}

/*---------- 画像切り替え ---------- */
.slideBox {
  width: 100vw;
  height: 56.25vw;
  overflow: hidden;
  position: relative;
}

.item1 {
  opacity: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: anime 15s 0s infinite;
  animation: anime 15s 0s infinite;
}

.item1:nth-of-type(2) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.item1:nth-of-type(3) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

/*---------- ふわぁ ---------- */
.fadeUp{
  animation-name:fadeUpAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity:0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeUpTrigger{
  opacity: 0;
}

/*---------- ボタン ---------- */
.btn06{
  position: relative;
  text-decoration: none;
	display: inline-block;
	background:#009fe8;
	color:#fff;
  padding: 10px 40px 10px 30px;
	border-radius:25px;
  text-align: center;
  outline: none;
  transition: ease .2s;
  font-size: 1.7vw;
  font-weight: 600;
  color: #ffffff;
}

.btn06:hover{
  background:#4ab8f7;
}

.btnarrow2::after{
  content: '';
  position: absolute;
  top:42%;
  right: 13px;
  width: 5px;
  height: 5px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}

.btnarrow2:hover::after{
  animation: arrow .5s;
}

@keyframes arrow {
  50% {
    right: 10px;
  }
  100% {
    right: 13px;
  }
}

/*---------- ボックス ---------- */
.box9 {
    padding: 1vw 1vw 1vw 1vw;
    margin: 1.5vw 0vw 1.5vw 0vw;
    color: #ff7d6e;
    background: #f1f1f1;
    border-top: solid 10px #ff7d6e;
}

/*---------- セクション ---------- */
.sec02 {
  margin: 0 0 0 0;
	height: auto;
  background-color: #000000;
	background-image: url("https://tcut-sci-tech.github.io/photo/%E9%83%A8%E6%B4%BB%E5%8B%95%E8%A6%8B%E5%AD%A6.jpg");
  background-size: cover;
}

.sec04 {
  margin: 0 0 0 0;
	height: auto;
	background-color: #dcdcdc;
}

.sec05 {
  margin: 0 0 0 0;
	height: auto;
	background-color: #2857b1;
}

/*---------- 中心線 ---------- */
.line {
  margin: 1.5vw 0vw 1.5vw 0vw;
  width: 0.2vw;
  background-color: #a9a9a9;
}

/*---------- 画面分割 ---------- */
.flex_div {
  display: flex;
  justify-content: center;
}

.a_div {
  display: inline-block;
  width: 10%;
  padding:0vw;
  margin: 0vw 0vw 0vw 0vw;
}

.a_div img {
  display: inline-block;
	width: 100%;
	height: auto;
}

.b_div {
  display: inline-block;
  width: 80%;
  padding:0vw;
  margin: 0vw 0vw 0vw 0vw;
}

.b_div img {
  display: inline-block;
	width: 100%;
	height: auto;
}

.c_div {
  display: inline-block;
  width: 27%;
  padding:0vw;
  margin: 0vw 0vw 0vw 0vw;
  background-color: #009fe8;
}

.c_div img {
  display: inline-block;
	width: 100%;
	height: auto;
}

.d_div {
  display: inline-block;
  width: 27%;
  padding:0vw;
  margin: 0vw 0vw 0vw 0vw;
  background-color: #2857b1;
}

.d_div img {
  display: inline-block;
	width: 100%;
	height: auto;
}

.e_div {
  display: inline-block;
  width: 40%;
  padding:0vw;
  margin: 0vw 1vw 0vw 1vw;
}

.e_div img {
  display: inline-block;
	width: 100%;
	height: auto;
}

.f_div {
  display: inline-block;
  width: 70%;
  padding:0vw;
  margin: 0vw 1vw 0vw 1vw;
}

.f_div img {
  display: inline-block;
	width: 100%;
	height: auto;
}

.g_div {
  display: inline-block;
  width: 50%;
  padding:0vw;
  margin: 0vw 1vw 0vw 1vw;
}

.g_div img {
  display: inline-block;
	width: 100%;
	height: auto;
}
